name: test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Fix permissions
        run: mkdir .bundle vendor && touch Gemfile.lock && chmod 0777 .bundle vendor Gemfile.lock
      - name: Install deps
        run: docker run --rm -v "${PWD}:/app" -w /app ghcr.io/dependabot/dependabot-updater-core sh -c "bundle config set --local path 'vendor' && bundle install -j \$(nproc)"
